.article {
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 280px;

  &--panorama {
    margin-top: 49px;
  }
}

.article__link {
  position: relative;
  display: block;
}

.article__img {
  display: block;
  background-color: #cccccc;

  &--panorama {
    width: 320px;
    margin-left: -20px;
    // @include bg-stretch;
  }
}

.article__type {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  padding: 6px 20px;

  @include text(12px, 700, 24px, #ffffff);
  text-transform: uppercase;
  background-color: $color-main;
}

.article__inner {
  padding: 17px 18px 20px;
  background-color: $color-bg-light;

  display: flex;
  flex-direction: column;
}

.article__author {
  margin: 0;

  @include text(14px, 700, 24px, $color-main-text);
}

.article__time {
  text-transform: uppercase;

  @include text(12px, 300, 24px, $color-main-text);
}

.article__text {
  margin: 0;
  margin-bottom: 9px;

  @include text(14px, 300, 24px, $color-main-text);
}

.article__like-btn {
  position: relative;
  padding-left: 31px;

  @include text(12px, 400, 24px, $color-main);
  text-transform: uppercase;
  text-decoration: none;

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 13px;
    height: 13px;
    left: 0;
    top: 1px;
    background: transparent url("../img/icon-heart.svg") no-repeat center;
  }
}



/*   tablet version   */

@media ($mq-tablet) {
  .article__wrapper {
    width: 620px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .article {
    width: 300px;
    margin: 0;
    margin-bottom: 20px;

    &--panorama {
      margin-top: 76px;
      margin-bottom: 47px;
      width: 620px;
    }
  }

  .article__img {
    width: 300px;
    height: 300px;

    &--panorama {
      width: 660px;
      height: 509px;
    }
  }

  .article__type {
    top: 57px;
  }

  .article__inner {
    padding: 24px 26px 24px;

    flex-wrap: wrap;
    justify-content: space-between;

    &--panorama {
      padding-bottom: 16px;
      flex-direction: row;

      .article__like {
        order: 2;
      }
    }
  }

  .article__title {
    order: 1;
  }

  .article__like-btn {
    position: relative;
    display: block;
    width: auto;
    padding-left: 0;
    padding-right: 31px;

    &::before {
      display: none;
    }

    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 13px;
      height: 13px;
      right: 6px;
      top: 6px;
      background: transparent url("../img/icon-heart.svg") no-repeat center;
    }
  }

  .article__text {
    min-height: 50px;
    order: 3;
  }

  .article__like {
    order: 4;
  }
}
