.advantages {
  background-color: #ffffff;
  padding: 15px 0;
}

.advantages__inner {
  padding-top: 25px;
}

.advantages__title {
  width: 320px;
  margin: auto;
  margin-bottom: 32px;
}

.advantages__header,
.advantages__text {
  @include text(24px, 300, 30px, $color-main-text);
  margin: 0;
  text-align: center;
}

.advantages__header {
  margin-bottom: 27px;
}

.advantages__list {
  @include reset-list;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  margin-bottom: 14px;
  background-color: $color-bg-light;
  text-align: center;

  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;

  &::after {
    display: block;
    content: "";
    margin: auto;
    height: 278px;
    width: 157px;
    margin-top: 28px;
    background: url("../img/iphone-screen-mobile@1x.png") no-repeat center top;
    @media ($dppx-2) {
      background: url("../img/iphone-screen-mobile@2x.png") no-repeat center top / cover;
    }
  }
}

.advantages__item {
  width: 280px;
  margin: auto;
  padding: 20px;
  padding-bottom: 12px;
  background-repeat: no-repeat;
  background-position: center bottom;

  &:nth-child(1) {
    padding-top: 76px;
  }
}

.advantages__subheader {
  margin: 0;
  margin-bottom: 11px;

  @include text(18px, 700, 24px, #000000);
}

.advantages__description {
  margin: 0;

  @include text(14px, 400, 24px, $color-main-text);
}

/*   tablet version   */

@media ($mq-tablet) {
  .advantages {
    padding-bottom: 0;
  }

  .advantages__inner {
    padding-top: 36px;
  }

  .advantages__title {
    width: 620px;
    margin-bottom: 50px;
  }

  .advantages__header,
  .advantages__text {
    @include text(40px, 300, 44px, $color-main-text);
  }

  .advantages__header {
    margin-bottom: 5px;
  }

  .advantages__text {
    width: 400px;
    margin: auto;
  }

  .advantages__list {
    min-height: 459px;
    padding-bottom: 28px;
    margin-bottom: 0;

    &::after {
      position: absolute;
      display: block;
      content: "";
      top: -25px;
      left: 20px;
      width: 268px;
      height: 481px;
      background: transparent url("../img/iphone-screen-3-tablet@1x.png") no-repeat;
      @media ($dppx-2) {
        background: transparent url("../img/iphone-screen-3-tablet@2x.png") no-repeat / cover;
      }
    }
  }

  .advantages__item {
    width: 310px;
    margin-right: 0;
    margin-left: auto;
    padding: 16px 20px 18px;
    text-align: left;
  }
}

/*   desktop version   */

@media ($mq-desktop) {
  .advantages__inner {
    padding-top: 56px;
  }

  .advantages__title {
    width: 740px;
    margin-bottom: 94px;
  }

  .advantages__header,
  .advantages__text {
    @include text(50px, 300, 55px, $color-main-text);
  }

  .advantages__header {
    margin-bottom: 5px;
  }

  .advantages__text {
    width: 500px;
  }

  .advantages__list {
    padding: 0 calc((100vw - 960px) / 2) 28px;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    &::after {
      display: none;
    }
  }

  .advantages__item {
    width: 240px;
    margin: 0 auto;
    margin-top: -13px;
    text-align: center;
    background-position: center top;
    z-index: 1;

    &:nth-child(n) {
      padding-top: 358px;
    }

    &--mood {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
      @media ($dppx-2) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
        background-size: auto 302px;
      }
    }

    &--world {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
      @media ($dppx-2) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
        background-size: auto 302px;
      }
    }

    &--friends {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
      @media ($dppx-2) {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
        background-size: auto 302px;
      }
    }
  }

  .advantages__subheader {
    @include text(30px, 700, 30px, #000000);
    margin-bottom: 24px;
  }

  .advantages__description {
    @include text(18px, 400, 30px, $color-main-text);
  }
}
