.advantages {
  background-color: #ffffff;
  padding: 40px 0;
}

.advantages__title {
  margin-bottom: 32px;
}

.advantages__header,
.advantages__text {
  margin: 0;
  @include text(24px, 300, 30px, $color-main-text);
  text-align: center;
}

.advantages__header {
  margin-bottom: 27px;
}

.advantages__list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  text-align: center;

  &::before {
    display: block;
    content: "";
    padding-top: 58px;
    background-color: #f2f2f2;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 25px;
  }

  &::after {
    display: block;
    content: "";
    margin: auto;
    width: 157px;
    height: 277px;
    margin-top: 30px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center top;
  }
}

.advantages__item {
  padding: 20px;
  padding-bottom: 12px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.advantages__subheader {
  margin: 0;
  margin-bottom: 11px;
  @include text(18px, 700, 24px, #000000);
}

.advantages__description {
  margin: 0;
  @include text(14px, 400, 24px, $color-main-text);
}
