.app {
  background-color: #17212d;
}

.app__downloads {
  text-align: center;
  width: 280px;
  margin: auto;
  padding-top: 27px;
}

.app__download-btn {
  @include text(18px, 700, 18px, #ffffff);
  text-decoration: none;

  @include btn(280px, 55px);
  border: 3px solid #ffffff;
  border-radius: 30px;
  margin-bottom: 25px;
  padding-top: 14px;
}

.app__list {
  margin: auto;
  margin-bottom: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 205px;
}

.app__link {
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
  width: 47px;
  height: 56px;

  &--apple {
    background-image: url("../img/logo-apple.svg");
  }

  &--android {
    background-image: url("../img/logo-android.svg");
  }

  &--windows {
    background-image: url("../img/logo-microsoft.svg");
  }
}

.app__text {
  margin: 0;
  padding-bottom: 30px;

  @include text(14px, 300, 24px, #ffffff);
}
