.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls__toggle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  padding: 0;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  z-index: 1;

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    background-color: $color-main-text;
    border-radius: 50%;
    opacity: 0.3;
  }

  &:hover::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.1;
  }

  &--current::before {
    box-sizing: content-box;
    border: 3px solid $color-main-text;
    opacity: 1;
    background-color: #ffffff;
  }

  .controls__arrow {
    display: none;
  }
}

/*   desktop version   */

@media ($mq-desktop) {
  .controls__toggle {
    display: none;
  }

  .controls__arrow {
    display: block;
    position: absolute;
    content: "";
    width: 22px;
    height: 41px;
    top: 215px;
    opacity: 0.3;
    cursor: pointer;

    &--left {
      background: transparent url("../img/svg/icon-review-arrow-left.svg") no-repeat center;
      margin-left: -912px;
    }

    &--right {
      background: transparent url("../img/svg/icon-review-arrow-right.svg") no-repeat center;
      margin-right: -912px;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }
}
