.contacts {
  padding-top: 20px;
  background-color: #ffffff;
}

.contacts__inner {
  width: 280px;
  margin: auto;
  padding: 20px;
  padding-bottom: 15px;
}

.contacts__title {
  margin-bottom: 27px;
  text-align: center;
}

.contacts__item {
  margin-bottom: 20px;
  text-align: center;
}

.contacts__header {
  margin: 0;

  @include text(24px, 300, normal, $color-main-text);
}

.contacts__subheader {
  margin: 0;

  @include text(18px, 700, normal, $color-main-text);
}

.contacts__way {
  text-decoration: none;

  @include text(24px, 300, normal, $color-main);

  &--mail:hover {
    color: $color-main-text;
    text-decoration: underline;
  }

  &--mail:active {
    color: rgba(40, 54, 69, 0.3);
    text-decoration: none;
  }

  &--adress {
    font-style: normal;
  }
}

.contacts__map {
  height: 200px;
  background: url("../img/svg/bg-triangle-white-footer.svg") no-repeat center top / auto 33px, url("../img/svg/icon-map-marker.svg") no-repeat center 95px, $color-bg-light url("../img/bg-map-mobile@1x.png") no-repeat center bottom;

  @media ($dppx-2) {
    background: url("../img/svg/bg-triangle-white-footer.svg") no-repeat center top / auto 33px, url("../img/svg/icon-map-marker.svg") no-repeat center 95px, $color-bg-light url("../img/bg-map-mobile@2x.jpg") no-repeat center bottom / 320px 645px;
  }
}

/*   tablet version   */

@media ($mq-tablet) {
  .contacts__inner {
    width: 630px;
    padding: 20px 15px 0;
    margin-bottom: -20px;
  }

  .contacts__title {
    margin-bottom: 35px;
  }

  .contacts__header {
    width: 400px;
    margin: auto;

    @include text(40px, 300, normal, $color-main-text);
  }

  .contacts__types {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contacts__item {
    width: 240px;
    margin-bottom: 48px;
  }

  .contacts__map {
    height: 370px;
    background: url("../img/svg/bg-triangle-white-footer.svg") no-repeat center top / auto 66px, url("../img/svg/icon-map-marker.svg") no-repeat center 190px, $color-bg-light url("../img/bg-map-tablet@1x.jpg") no-repeat center -350px;

    @media ($dppx-2) {
      background: url("../img/svg/bg-triangle-white-footer.svg") no-repeat center top / auto 66px, url("../img/svg/icon-map-marker.svg") no-repeat center 190px, $color-bg-light url("../img/bg-map-tablet@2x.jpg") no-repeat center -350px / 700px 848px;
    }
  }
}

/*   desktop version   */

@media ($mq-desktop) {
  .contacts__inner {
    width: 950px;
    padding: 44px 0 0;
  }

  .contacts__title {
    margin-bottom: 56px;
  }

  .contacts__header {
    width: 470px;
    font-size: 50px;
    line-height: 60px;
  }

  .contacts__item {
    &--tel {
      order: 1;
    }

    &--mail {
      order: 3;
    }

    &--adress {
      order: 2;
    }
  }

  .contacts__subheader {
    margin-bottom: 20px;
  }

  .contacts__map {
    height: 490px;
    background: url("../img/svg/bg-triangle-white-footer.svg") no-repeat top center / auto 100px, url("../img/svg/icon-map-marker.svg") no-repeat center 250px / auto, $color-bg-light url("../img/bg-map-desktop@1x.jpg") no-repeat center -290px;

    @media ($dppx-2) {
      background: url("../img/svg/bg-triangle-white-footer.svg") no-repeat top center / auto 100px, url("../img/svg/icon-map-marker.svg") no-repeat center 250px / auto, $color-bg-light url("../img/bg-map-desktop@2x.jpg") no-repeat center -290px / 1200px 976px;
    }
  }
}
