.effect {
  display: none;
}

@media ($mq-tablet) {
  .effect {
    display: block;
  }

  .effect__inner {
    width: 94vw;
    margin: auto;
    padding: 55px 20px;
    padding-bottom: 50px;

    display: flex;
    justify-content: space-between;
  }

  .effect__timer {
    position: relative;
    width: 238px;
    height: 276px;
    background: url("../img/svg/icon-timer.svg") no-repeat center / 100%;

    &::before {
      position: absolute;
      content: "";
      width: 175px;
      height: 175px;
      left: 18px;
      top: 57px;
      border-radius: 50%;
      border: 14px solid $color-main;
    }

    &::after {
      @include text(96px, 700, 150px, $color-main);
      position: absolute;
      content: "24";
      left: 64px;
      top: 78px;
    }
  }

  .effect__clock {
    &--desktop {
      display: none;
    }
  }

  .effect__research {
    margin-top: 16px;
    margin-right: 10px;
    width: 300px;
  }

  .effect__header {
    @include text(30px, 700, 36px, #000000);
    width: 200px;
    margin-bottom: 8px;
  }

  .effect__description,
  .effect__link {
    @include text(14px, 400, 24px, $color-main-text);
    margin-top: 0;
  }

  .effect__link {
    color: $color-main;

    &:hover {
      color: $color-main-text;
    }

    &:active {
      color: rgba(40, 54, 69, 0.3);
    }

    &:focus {
      box-shadow: 5px 5px 3px 0 $color-main, -5px -5px 3px 0 $color-main;
      outline: none;
    }
  }
}

/*   desktop version   */

@media ($mq-desktop) {
  .effect {
    background-color: $color-bg-light;
  }

  .effect__inner {
    width: 920px;
    margin: auto;
    padding: 20px;
    padding-bottom: 67px;
  }

  .effect__timer {
    width: 298px;
    height: 345px;
    margin-left: -8px;

    &::before {
      width: 220px;
      height: 220px;
      left: 20px;
      top: 69px;
      border: 17px solid $color-main;
    }

    &::after {
      @include text(120px, 700, 187px, $color-main);
      left: 78px;
      top: 94px;
    }
  }

  .effect__clock {
    &--desktop {
      display: inline;
    }

    &--tablet {
      display: none;
    }
  }

  .effect__research {
    width: 530px;
    margin-top: 66px;
    margin-right: 34px;
  }

  .effect__header {
    width: auto;
    margin-bottom: 20px;
  }

  .effect__description {
    @include text(18px, 400, 30px, $color-main-text);
    margin-bottom: 30px;
  }

  .effect__link {
    @include text(18px, 400, 30px, $color-main);
  }
}
