.history-form {
  display: flex;
  flex-direction: column;

  margin: auto;
}

.history-form__fieldset {
  position: relative;
  width: 280px;
  margin: 0 auto;
  padding: 33px calc((100vw - 280px) / 2) 27px;
  border: none;

  &--achievement,
  &--app {
    background-color: $color-bg-light;
  }
}

.history-form__legend {
  position: absolute;
  width: 220px;
  top: 36px;
  margin-left: 28px;

  @include text(14px, 400, 18px, $color-main);
  text-align: center;
  text-transform: uppercase;
}

.history-form__user-list,
.history-form__achievement-list,
.history-form__contacts-list,
.history-form__app-list {
  @include reset-list;
}

.history-form__label-user,
.history-form__label-contacts,
.history-form__label-review {
  margin-left: 22px;

  @include text(14px, 400, 30px, $color-main);
  text-transform: uppercase;
}

.history-form__label-review {
  margin-left: 48px;
}

.history-form__input-user,
.history-form__input-contacts {
  box-sizing: border-box;
  width: 280px;
  height: 63px;
  margin-top: 6px;
  margin-bottom: 16px;
  padding-left: 22px;
  border: 2px solid #e5e5e5;

  @include text(18px, 400, 30px, $color-main-text);

  &:hover {
    border-color: $color-main-text;
  }

  &:active {
    border-color: $color-main;
  }

  &:focus {
    outline: none;
    border-color: $color-main;
  }
}

.history-form__contacts-list {
  margin-top: -2px;
}

.history-form__achievement-list,
.history-form__app-list {
  margin-top: 82px;
}

.history-form__achievement-item {
  margin-bottom: 52px;

  &:last-child {
    margin-bottom: 20px;
  }
}

.history-form__app-item {
  margin-bottom: 43px;

  &:last-child {
    margin-bottom: 22px;
  }
}

.history-form__label-achievement,
.history-form__label-app {
  position: relative;
  cursor: pointer;
  padding-left: 70px;

  @include text(18px, 400, 30px, $color-main-text);

  &::before {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    top: -7px;
    width: 35px;
    height: 35px;
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
  }

  &:hover::before {
    border-color: $color-main-text;
  }

  &:active::before {
    border-color: $color-main;
  }
}

.history-form__label-app {
  &::before {
    border-radius: 50%;
  }
}

.history-form__input-achievement:checked + .history-form__label-achievement::before {
  background: #ffffff url("../img/icon-yes.svg") no-repeat center;
}

.history-form__input-app:checked + .history-form__label-app::after {
  position: absolute;
  display: block;
  content: "";
  left: 12px;
  top: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $color-main;
}

.history-form__input-review {
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 18px;
  padding-top: 15px;
  padding-left: 17px;
  width: 280px;
  height: 201px;
  border: 2px solid #e5e5e5;
  resize: none;
  font-family: inherit;

  @include text(18px, 400, 30px, $color-main-text);

  &:hover {
    border-color: $color-main-text;
  }

  &:active {
    border-color: $color-main;
  }

  &:focus {
    outline: none;
    border-color: $color-main;
  }
}

.history-form__btns {
  width: 280px;
  margin: auto;
}

.history-form__submit {
  @include btn(280px, 63px);
  @include text(18px, 700, 30px, #ffffff);
  text-transform: uppercase;
  background-color: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 3px;
  margin-bottom: 20px;

  &:hover {
    border-color: #1c9b5e;
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    border-color: #1c9b5e;
    background-color: #1c9b5e;
  }

  &:disabled {
    border-color: #e5e5e5;
    background-color: #e5e5e5;
  }
}

.history-form__footnote {
  @include text(14px, 400, 30px, $color-main-text);
  text-align: center;
  text-transform: uppercase;

  &::before {
    content: "*";
    color: $color-main;
  }
}

/*   tablet version   */

@media ($mq-tablet) {

}
