.intro {
  background-color: #17212d;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;

  &--index {
    background-position: center -66px;
  }

  &--index::before {
    display: block;
    content: "";
    width: 320px;
    margin: auto;
    height: 395px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  &--photo {
    background-position: center -66px;
    padding-top: 30px;
    padding-bottom: 84px;
  }

  &--form {
    background-position: center -66px;
    padding-top: 30px;
    padding-bottom: 56px;
  }
}

.intro__inner {
  position: relative;
  width: 320px;
  margin: auto;
}

.intro__header {
  margin: auto;
  width: 230px;
  text-align: center;

  @include text(24px, 300, 28px, #ffffff);
}
