.intro {
  position: relative;
  background: #17212d url("../img/bg-back-mobile@1x.jpg") no-repeat;

  &--index {
    background-position: center -66px;
  }

  &--index::before {
    display: block;
    content: "";
    width: 320px;
    margin: auto;
    height: 395px;
    background: transparent url("../img/iphone-hand-mobile@1x.png") no-repeat left bottom;
  }

  &--photo {
    background-position: center -66px;
    padding-top: 30px;
    padding-bottom: 84px;
  }

  &--form {
    background-position: center -66px;
    padding-top: 30px;
    padding-bottom: 56px;
  }
}

.intro__inner {
  width: 320px;
  margin: auto;
}

.intro__header {
  margin: auto;
  width: 230px;
  text-align: center;

  @include text(24px, 300, 28px, #ffffff);
}



/*   tablet version   */

@media ($mq-tablet) {
  .intro {
    background: #17212d url("../img/bg-back-tablet@1x.jpg") no-repeat center bottom;

    &--index {
      background-position: center -110px;

      &::before {
        width: auto;
        height: 620px;
        background: transparent url("../img/iphone-hand-tablet@1x.png") no-repeat center bottom;
      }
    }

    &--photo {
      padding-top: 70px;
      padding-bottom: 140px;
      background-position: center -110px;
    }

    &--form {
      padding-top: 72px;
      padding-bottom: 78px;
      background-position: center -110px;
    }
  }

  .intro__inner {
    width: 660px;
  }

  .intro__header {
    width: 480px;
    @include text(50px, 300, 60px, #ffffff);
  }
}
