.intro {
  position: relative;
  background: #17212d url("../img/bg-back-mobile@1x.jpg") no-repeat center top;

  @media ($dppx-2) {
    background: #17212d url("../img/bg-back-mobile@2x.jpg") no-repeat center top / auto 462px;
  }

  &--index {

    &::before {
      display: block;
      content: "";
      width: 320px;
      margin: auto;
      height: 462px;
      background: transparent url("../img/iphone-hand-mobile@1x.png") no-repeat left bottom;

      @media ($dppx-2) {
        background: transparent url("../img/iphone-hand-mobile@2x.png") no-repeat left bottom / 258px 286px;
      }
    }
  }

  &--photo {
    padding-top: 96px;
    padding-bottom: 84px;
  }

  &--form {
    padding-top: 96px;
    padding-bottom: 56px;
  }
}

.intro__inner {
  width: 320px;
  margin: auto;
}

.intro__header {
  margin: auto;
  width: 230px;
  text-align: center;

  @include text(24px, 300, 28px, #ffffff);
}

/*   tablet version   */

@media ($mq-tablet) {
  .intro {
    background: #17212d url("../img/bg-back-tablet@1x.jpg") no-repeat center bottom;

    @media ($dppx-2) {
      background: #17212d url("../img/bg-back-tablet@2x.jpg") no-repeat center bottom / auto 729px;
    }

    &--index::before {
      width: auto;
      height: 729px;
      background: transparent url("../img/iphone-hand-tablet@1x.png") no-repeat center bottom;

      @media ($dppx-2) {
        background: transparent url("../img/iphone-hand-tablet@2x.png") no-repeat center bottom / 700px 545px;
      }
    }

    &--photo {
      padding-top: 180px;
      padding-bottom: 140px;
      background-position: center top;
    }

    &--form {
      padding-top: 180px;
      padding-bottom: 78px;
      background-position: center top;
    }
  }

  .intro__inner {
    width: 660px;
  }

  .intro__header {
    @include text(50px, 300, 60px, #ffffff);
    width: 480px;
  }
}

/*   desktop version   */

@media ($mq-desktop) {
  .intro {
    margin-top: -110px;
    background: #17212d url("../img/bg-back-desktop@1x.jpg") no-repeat center bottom;

    @media ($dppx-2) {
      background: #17212d url("../img/bg-back-desktop@2x.jpg") no-repeat center bottom / auto 863px;
    }

    &--index {
      padding-top: 110px;
      &::before {
        width: 960px;
        height: 854px;
        background: transparent url("../img/iphone-hand-desktop@1x.png") no-repeat 25px 208px;

        @media ($dppx-2) {
          background: transparent url("../img/iphone-hand-desktop@2x.png") no-repeat 25px 208px / auto 645px;
        }
      }
    }

    &--photo {
      padding-top: 280px;
      padding-bottom: 104px;
      background-position: center 110px;

      .intro__header {
        width: 500px;
      }
    }

    &--form {
      padding-top: 280px;
      padding-bottom: 102px;
      background-position: center 110px;

      .intro__header {
        width: 750px;
      }
    }
  }

  .intro__inner {
    width: 940px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .intro__header {
    @include text(50px, 300, 60px, #ffffff);
  }
}
