.nav-main {
  width: 100%;
  margin-top: 4px;
}

.nav-main__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.nav-main__item {
  display: block;
  padding: 16px;
  width: 100%;
  text-align: center;
  box-shadow: 0 1px 0 0 #000000, inset 0 1px 0 0 rgba(255, 255, 255, 0.15);

  &:not(.nav-main__item--current) .nav-main__link {
    &:hover {
      color: $color-main;
    }

    &:active {
      color: $color-main;
      opacity: 0.3;
    }
  }
}

.nav-main__link {
  @include text(18px, 700, 32px, #ffffff);
  text-transform: uppercase;
  text-decoration: none;
}

.nav-main__toggle {
  position: absolute;
  display: block;
  width: 28px;
  height: 28px;
  padding: 0;
  top: 16px;
  right: 18px;
  font-size: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    display: block;
    position: absolute;
    content: "";
    width: 30px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 1px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: $color-main;
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
    background-color: $color-main;
  }
}



/*   tablet version   */

@media ($mq-tablet) {
  .nav-main__toggle {
    top: 40px;
  }
}
