.page-main {
  padding-top: 66px;
}

.page-main__text {
  margin: auto;
  width: 290px;
  padding: 20px 15px 0;
  padding-top: 45px;
  text-align: center;

  @include text(14px, 400, 30px, $color-main-text);
}

/*   tablet version   */

@media ($mq-tablet) {
  .page-main__text {
    width: 490px;
    font-size: 18px;
    padding-top: 92px;
  }
}

/*   desktop version   */

@media ($mq-desktop) {
  .page-main {
    padding-top: 1px;
  }

  .page-main__text {
    width: 600px;
    font-size: 18px;
  }

  .page-main__offer--form .page-main__text {
    width: 800px;
  }
}
