.page-header {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;

  &--menu-open {
    margin-bottom: -66px;
    position: relative;
    background-color: #17212d;
  }

  &--menu-open-js {
    margin-bottom: -66px;
    position: absolute;
    background-color: #17212d;
  }
}

.page-header__logo-link {
  display: inline-block;
  vertical-align: middle;
  width: 147px;
  height: 40px;
  cursor: pointer;
  margin: 21px 20px 5px;
}

.page-header__logo-svg {
  &--mobile {
    display: inline;
  }

  &--tablet,
  &--desktop {
    display: none;
  }

  fill: #ffffff;

  &:hover {
    fill: $color-main;
  }

  &:active {
    fill: rgba(255, 255, 255, 0.3);
  }
}

/*   tablet version   */

@media ($mq-tablet) {
  .page-header__logo-link {
    margin: 25px 20px 40px;
  }

  .page-header__logo-svg {
    &--tablet {
      display: inline;
    }

    &--mobile,
    &--desktop {
      display: none;
    }
  }
}

/*   desktop version   */

@media ($mq-desktop) {
  .page-header {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5;
  }

  .page-header__inner {
    display: flex;
    min-width: 940px;
    max-width: 1180px;
    margin: 27px 0 43px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: flex-end;
  }

  .page-header__logo-link {
    margin: 0;
  }

  .page-header__logo-svg {
    &--desktop {
      display: inline;
    }

    &--mobile,
    &--tablet {
      display: none;
    }
  }
}
