.page-footer {
  padding-top: 39px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--index {
    display: none;
  }
}

.page-footer__logo-link {
  margin-bottom: 34px;
}

.page-footer__logo-svg {
  fill: #000000;

  &:active {
    fill: currentColor;
    opacity: 0.3;
  }
}

.page-footer__logo-glasses {
  fill: $color-main;
}

.page-footer__logo-svg:hover .page-footer__logo-sign {
  fill: $color-main;
}

.page-footer__logo-svg:active .page-footer__logo-sign {
  fill: #000000;
}



/*   tablet version   */

@media ($mq-tablet) {
  .page-footer {
    padding: 34px 20px;
    flex-direction: row;
    justify-content: space-between;

    &--index {
      display: flex;
    }
  }

  .page-footer__logo-link {
    margin-bottom: 0;
  }
}



/*   desktop version   */

@media ($mq-desktop) {
  .page-footer {
    padding: 65px 10px;
  }
}
