.page-header {
  background-color: #233343;
}

.page-header__logo-link {
  display: block;
  cursor: pointer;
  min-height: 66px;
}

.page-header__logo-img {
  width: 75px;
  height: 22px;
  margin: 22px 20px 18px;
}
