.page-main__intro {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -69px;
}

.page-main__header {
  margin: 0;
  padding: 24px;
  padding-bottom: 44px;
  text-align: center;
  @include text(24px, 300, normal, #ffffff);
}
