.page-header {
  position: relative;
  width: 100%;
  background-color: #283645;
}

.page-header__logo-link {
  display: inline-block;
  vertical-align: middle;
  width: 75px;
  height: 22px;
  cursor: pointer;
  margin: 22px 20px;
}

.page-header__logo-svg {
  fill: #ffffff;

  &:hover {
    fill: $color-main;
  }

  &:active {
    fill: #ffffff;
    opacity: 0.3;
  }
}
