.reviews {
  background-color: #ffffff;
  padding: 12px 0;
}

.reviews__inner {
  width: 320px;
  margin: auto;
  padding-top: 2px;
  margin-bottom: 26px;
}

.reviews__list {
  list-style: none;
  margin: 0;
  margin-bottom: 10px;
  padding: 0 20px;
}

.reviews__item {
  text-align: center;
  display: none;

  &--current {
    display: flex;
    flex-direction: column;
  }
}

.reviews__user {
  margin: 0;
  padding: 0;

  @include text(18px, 700, 30px, #000000);
}

.reviews__who {
  display: none;
}

.reviews__text {
  @include text(14px, 400, 30px, $color-main-text);

  &::before {
    content: "«";
  }

  &::after {
    content: "»";
  }
}



/*   tablet version   */

@media ($mq-tablet) {
  .reviews__inner {
    width: 660px;
    margin: auto;
    padding-top: 15px;
  }

  .reviews__list {
    width: 620px;
  }

  .reviews__title {
    margin-bottom: 20px;
  }

  .reviews__user {
    font-size: 20px;
  }

  .reviews__who {
    display: inline;
    @include text(14px, 400, 30px, $color-main-text);
  }

  .reviews__text {
    order: -1;
    width: 620px;
    font-size: 18px;
    margin-bottom: 34px;
  }
}
