.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 180px;
  margin-bottom: 30px;
}

.social__link {
  position: relative;
  width: 46px;
  height: 46px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
  font-size: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  fill: $color-main;

  &:hover {
    border-color: $color-main-text;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    box-shadow: 5px 5px 3px 0 $color-main, -5px -5px 3px 0 $color-main;
    outline: none;
  }
}

/*   tablet version   */

@media ($mq-tablet) {
  .social {
    margin-bottom: 0;
    margin-left: -13px;
  }

  .copyright {
    margin-top: 10px;
  }
}

/*   desktop version   */

@media ($mq-desktop) {
  .social {
    margin-top: 8px;
    margin-left: 10px;
  }
}
