.tariffs {
  background-color: $color-bg-light;
  padding-bottom: 40px;
}

.tariffs__inner {
  position: relative;
  list-style: none;
  text-align: center;
  overflow: hidden;
  margin-top: 0;

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: url("../img/svg/bg-triangle-white.svg") no-repeat center top;
    background-size: 100%;
  }
}

.tariffs__table {
  position: relative;
  margin-top: 89px;
  margin-bottom: 34px;
  border-collapse: collapse;
  width: 262%;
  left: 50%;
  transform: translateX(-50%);
}

.tariffs__features,
.tariffs__show {
  background-color: #ffffff;
}

.tariffs__feature,
.tariffs__item {
  border: 2px solid #e5e5e5;
}

.tariffs__table-row > th:first-child {
  display: none;
}

.tariffs__header {
  box-sizing: border-box;
  position: relative;
  width: 276px;
  padding: 20px;
  background-color: $color-main-text;
  background-clip: padding-box;

  &:nth-child(2) {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-right: 2px solid transparent;
  }

  &:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left: 2px solid transparent;
  }

  &--hit::before {
    background-image: url("../img/svg/bg-hit.svg");
    position: absolute;
    content: "";
    width: 74px;
    height: 73px;
    left: -2px;
    top: 0;
  }

  &--hit::after {
    position: absolute;
    content: "хит";
    text-transform: uppercase;
    left: 11px;
    top: 12px;
    transform: rotate(-45deg);

    @include text(14px, 400, 24px, #ffffff);
  }
}

.tariffs__title {
  @include text(18px, 700, 30px, #ffffff);
  text-transform: uppercase;
  margin-top: -4px;
}

.tariffs__cost {
  @include text(24px, 300, 30px, #ffffff);
  text-transform: uppercase;
}

.tariffs__item {
  position: relative;
  box-sizing: border-box;
  height: 61px;
  text-align: left;
  padding: 0 20px;
  background-clip: padding-box;
  border-top: none;

  @include text(14px, 400, 30px, $color-main-text);
  text-transform: uppercase;
}

.tariffs__availability {
  position: absolute;
  display: block;
  width: 32px;
  height: 27px;
  right: 18px;
  top: 16px;
  font-size: 0;
  background: transparent no-repeat center;

  &--on {
    background-image: url("../img/svg/icon-yes-green.svg");
  }

  &--off {
    background-image: url("../img/svg/icon-no.svg");
  }
}

/*   tablet version   */

@media ($mq-tablet) {
  .tariffs {
    padding-bottom: 6px;
  }

  .tariffs__table {
    width: 94vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 62px;
    margin-top: 92px;
    padding: 0 20px;
    left: 0;
    transform: none;
  }

  .tariffs__table-row > th:first-child {
    display: table-cell;
  }

  .tariffs__header-none {
    background-color: $color-bg-light;
  }

  .tariffs__header {
    width: 25%;
    padding: 11px 0 5px;

    &--hit::before {
      background-image: url("../img/svg/bg-hit-tablet.svg");
      width: 61px;
      height: 61px;
      left: 0;
      top: 0;
    }

    &--hit::after {
      left: 6px;
      top: 6px;
    }
  }

  .tariffs__title {
    font-size: 16px;
    margin-top: 2px;
  }

  .tariffs__cost {
    font-size: 18px;
  }

  .tariffs__feature {
    text-align: left;
    padding-left: 16px;

    @include text(14px, 400, 30px, $color-main-text);
  }

  .tariffs__item {
    height: 47px;
  }

  .tariffs__name {
    display: none;
  }

  .tariffs__availability {
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
  }

  .tariffs__controls {
    display: none;
  }
}

/*   desktop version   */

@media ($mq-desktop) {
  .tariffs__inner {
    margin-top: -17px;
    padding-bottom: 27px;
  }

  .tariffs__table {
    width: 98vw;
    max-width: 1200px;
    margin-top: 142px;
  }

  .tariffs__header {
    height: 98px;

    &--hit::before {
      background-image: url("../img/svg/bg-hit.svg");
      width: 74px;
      height: 73px;
      left: 0;
      top: 0;
    }

    &--hit::after {
      left: 11px;
      top: 11px;
    }
  }

  .tariffs__title {
    margin-top: 0;
    font-size: 18px;
  }

  .tariffs__cost {
    font-size: 24px;
  }

  .tariffs__feature {
    padding-left: 20px;
    font-size: 18px;
  }

  .tariffs__item {
    height: 61px;
  }
}
