.upload-photo {
  background-color: $color-bg-light;
}

.upload-photo__title {
  margin: auto;
  padding: 22px 20px 43px;
  text-align: center;
  background-color: #ffffff;
}

.upload-photo__header,
.upload-photo__text {
  width: 280px;
  margin: auto;

  @include text(14px, 400, 30px, $color-main-text);
}

/*   tablet version   */

@media ($mq-tablet) {
  .upload-photo__title {
    padding: 48px 20px 68px;
  }

  .upload-photo__header,
  .upload-photo__text {
    width: 430px;
    font-size: 18px;
  }
}

/*   desktop version   */

@media ($mq-desktop) {
  .upload-photo {
    background-color: #ffffff;
  }

  .upload-photo__title {
    padding: 8px 20px 64px;
  }
}
