@mixin text($text-size, $text-weight, $text-height, $text-color) {
  font-size: $text-size;
  font-weight: $text-weight;
  line-height: $text-height;
  color: $text-color;
}

@mixin reset-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

@mixin btn($width, $height) {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: $width;
  height: $height;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

@mixin bg-stretch {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: auto;
}
