@mixin text($text-size, $text-weight, $text-height, $text-color) {
  font-size: $text-size;
  font-weight: $text-weight;
  line-height: $text-height;
  color: $text-color;
}

@mixin btn($padding) {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding: $padding;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  border: none;
}

@mixin bg-stretch {
  position: relative;
  width: 100vw;
  min-width: 320px;
  height: auto;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
